{% extends 'base.html.twig' %}

{% block title %}cription{% endblock %}

{% block body %}
<div id="layer" class="">
  <p id="layerP">
    <h5 class="fw-bold fs-3">Information importante</h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu porta tortor. 
    Ut ultrices quam vel nunc scelerisque, in egestas justo mattis. 
    Donec efficitur ornare neque, vitae varius leo tempus ut. 
    Aliquam ullamcorper egestas nulla, eu consequat ligula imperdiet in. Aenean a leo dui. 
    Integer lacinia sit amet ipsum et tincidunt. Donec consequat turpis eget purus consequat malesuada. 
    Morbi consequat semper laoreet. Nam id arcu sit amet purus dapibus pharetra. 
  </p>
  <button class="bodyHidden btn btn-danger col-3" onclick="layer();">J'ai compris</button>
</div>
{% endblock %}
