<form method="post" action="{{ path('task_delete', {'id': task.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette tache?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn btn-dark my-2">Supprimer</button>
</form>
