<footer>
    <p class="text-center py-5 bg-info text-white">
        © Copyright - 
        <a class="" href="{{ path('index') }}" title="Page d'accueil">
            <img id="logo" alt="logo" src="{{ asset('img/logo_BatiFoll_footer.ico') }}">
        </a>
    </p>
</footer>