<header>
    <p class="text-center py-5 bg-info mb-0"><a class="" href="{{ path('index') }}" title="Page d'accueil">
        <img id="logo" alt="logo" src="{{ asset('img/logo_BatiFoll_header.ico') }}"></a>
    </p>
</header>
