{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5">Créer un nouveau projet</h1>
    <div class="mb-5">
        {{ include('project/_form.html.twig') }}
    </div>
    {# <a href="{{ path('project_index') }}">Retour à la liste des projets</a> #}
{% endblock %}
